<html>
{{css/style}}

<head>

	<!-- This tells the browser that your page is responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>



<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!--- Menu --->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->




<div class="igem_2018_team_mobile_bar">

	<div class="igem_logo_mobile">
		<img src="http://2018.igem.org/wiki/images/4/4f/2018_igem_mobile_menu_logo.svg">
	</div>


	<div class="igem_menu_control_mobile">
		<img id="menu_control_image" src="http://igem.org/wiki/images/3/3b/Menu_icon.svg">
	</div>

</div>




<div class="igem_2018_team_menu displaying_menu">


	<a href="http://2018.igem.org/Team:Aachen">
		<img src="http://placehold.it/350x150/e4dede/c4baba">
	</a>



		<a href="http://2018.igem.org/Team:Aachen">
			<div class="menu_item direct_link">
				HOME
			</div>
		</a>

		<!-- Team -->
		<div class="menu_item">
			<div class="submenu_control_icon"> </div>
			TEAM
		</div>
		<div class="submenu">

			<a href="http://2018.igem.org/Team:Aachen/Team">
				<div class="submenu_item">
					Team Members
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Collaborations">
				<div class="submenu_item">
					Collaborations
				</div>
			</a>
		</div>


		<!-- Project -->
		<div class="menu_item">
			<div class="submenu_control_icon"> </div>
			PROJECT
		</div>
		<div class="submenu">

			<a href="http://2018.igem.org/Team:Aachen/Description">
				<div class="submenu_item">
					Description
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Design">
				<div class="submenu_item">
					Design
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Experiments">
				<div class="submenu_item">
					Experiments
				</div>
			</a>


			<a href="http://2018.igem.org/Team:Aachen/Notebook">
				<div class="submenu_item">
					Notebook
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/InterLab">
				<div class="submenu_item">
					InterLab
				</div>
			</a>


			<a href="http://2018.igem.org/Team:Aachen/Model">
				<div class="submenu_item">
					Model
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Results">
				<div class="submenu_item">
					Results
				</div>
			</a>


			<a href="http://2018.igem.org/Team:Aachen/Demonstrate">
				<div class="submenu_item">
					Demonstrate
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Improve">
				<div class="submenu_item">
					Improve
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Attributions">
				<div class="submenu_item">
					Attributions
				</div>
			</a>

		</div>


		<div class="menu_item">
			<div class="submenu_control_icon"> </div>
			PARTS
		</div>
		<div class="submenu">

			<a href="http://2018.igem.org/Team:Aachen/Parts">
				<div class="submenu_item">
					Parts Overview
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Basic_Part">
				<div class="submenu_item">
					Basic Parts
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Composite_Part">
				<div class="submenu_item">
					Composite Parts
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Part_Collection">
				<div class="submenu_item">
					Part Collection
				</div>
			</a>
		</div>






		<a href="http://2018.igem.org/Team:Aachen/Safety">
			<div class="menu_item direct_link">
				SAFETY
			</div>
		</a>






		<div class="menu_item">
			<div class="submenu_control_icon"> </div>
			HUMAN PRACTICES
		</div>

		<div class="submenu">

			<a href="http://2018.igem.org/Team:Aachen/Human_Practices">
				<div class="submenu_item">
					Human Practices
				</div>
			</a>


			<a href="http://2018.igem.org/Team:Aachen/Public_Engagement">
				<div class="submenu_item">
					Education & Engagement
				</div>
			</a>

		</div>





		<div class="menu_item">
			<div class="submenu_control_icon"> </div>
			AWARDS
		</div>

		<div class="submenu">

			<a href="http://2018.igem.org/Team:Aachen/Applied_Design">
				<div class="submenu_item">
					Applied Design
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Entrepreneurship">
				<div class="submenu_item">
					Entrepreneurship
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Hardware">
				<div class="submenu_item">
					Hardware
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Measurement">
				<div class="submenu_item">
					Measurement
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Model">
				<div class="submenu_item">
					Model
				</div>
			</a>

			<a href="http://2018.igem.org/Team:Aachen/Plant">
				<div class="submenu_item">
					Plant
				</div>
			</a>


			<a href="http://2018.igem.org/Team:Aachen/Software">
				<div class="submenu_item">
					Software
				</div>
			</a>

		</div>



		<a href="http://igem.org/2018_Judging_Form?team=Aachen">
			<div class="menu_item direct_link">
				JUDGING FORM ⇗
			</div>
		</a>






</div>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!--- Content of the page  --->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->


<div class="igem_2018_team_content">
	<div class="igem_2018_team_column_wrapper">
		<div class="clear extra_space"></div>
		<div class="clear extra_space"></div>
